.logo {
	background-color: darkcyan;
	margin-bottom: 20px;
	height: 40px;
}

.navigation{
	background-color: darkcyan;
	margin-bottom: 20px;
	height: 200px;
}

.main-content{
	display: flex;
	background-color: none;
	justify-content: space-between;
	height: 40vh;
	width: 100%;
	
}

.main-content div{
	background-color: darkcyan;
	height: 300px;
	width: 30%;
}

.footer{
	background-color: darkcyan;
	height: 70px;
	margin-top: 40px;
}